<app-barra-navegacao *ngIf="!exibirBarra"></app-barra-navegacao>

<router-outlet></router-outlet>

<div class="container" *ngIf="exibirBarra">

  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Livros alugados durante a semana</h1>
    </div>

    <div class="ui-g-12">

      <p-tabView (onChange)="buscarAlugados($event)">
        <p-tabPanel [header]="d | date: 'dd/MM/yyyy'" *ngFor="let d of datasAlugados">

          <p-table [value]="alugueis" [paginator]="true" [rows]="5" [responsive]="true">
            <ng-template pTemplate="header">
              <tr>
                <th class="col-id">ID</th>
                <th class="col-data">Data inicial</th>
                <th>livro</th>
                <th class="col-valor">valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-aluguel>
              <tr>
                <td>{{aluguel.id}}</td>
                <td class="linha-valor">{{aluguel.dataInicio | date: 'dd/MM/yyyy'}}</td>
                <td>{{aluguel.livro.nome}}</td>
                <td>{{aluguel.valor | number}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td [colSpan]="3">Valor total:</td>
                <td>{{valorAluguel}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [colSpan]="4">Nenhum aluguel para hoje</td>
              </tr>
            </ng-template>
          </p-table>

        </p-tabPanel>
      </p-tabView>

    </div>

  </div>

  <div class="ui-g-">

    <div class="ui-g-12">
      <h1>Livros devolvidos durante a semana</h1>
    </div>

    <div class="ui-g-12">

      <p-tabView (onChange)="buscarDevolvidos($event)">
        <p-tabPanel [header]="d | date: 'dd/MM/yyyy'" *ngFor="let d of datasDevolvidos">

          <p-table [value]="devolvidos" [paginator]="true" [rows]="5" [responsive]="true">
            <ng-template pTemplate="header">
              <tr>
                <th class="col-id">ID</th>
                <th class="col-data">Data da entrega</th>
                <th>livro</th>
                <th class="col-valor">valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-aluguel>
              <tr>
                <td>{{aluguel.id}}</td>
                <td class="linha-valor">{{aluguel.dataEntrega | date: 'dd/MM/yyyy'}}</td>
                <td>{{aluguel.livro.nome}}</td>
                <td>{{aluguel.valor | number}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td [colSpan]="3">Valor total:</td>
                <td>{{valorDelucao}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [colSpan]="4">Nenhum aluguel para hoje</td>
              </tr>
            </ng-template>
          </p-table>

        </p-tabPanel>
      </p-tabView>

    </div>

  </div>

</div>


<p-confirmDialog #confirmation icon="pi pi-question-circle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmation.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirmation.reject()"></button>
  </p-footer>
</p-confirmDialog>
